@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Urban Jungle";
    src: url("/fonts/UrbanJungleDEMO.otf") format("opentype");
}

body {
    font-family: 'UrbanJungle', sans-serif;
}